USE [master]
GO
/****** Object:  Database [Quan_Ly_Cam_Do]    Script Date: 5/12/2026 4:41:32 AM ******/
CREATE DATABASE [Quan_Ly_Cam_Do]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_Ly_Cam_Do', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Cam_Do.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quan_Ly_Cam_Do_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Cam_Do_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_Ly_Cam_Do].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_Ly_Cam_Do]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATETIME
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @LoanAmount DECIMAL(18,2);
    DECLARE @StartDate DATETIME;
    DECLARE @Deadline1 DATETIME;
    DECLARE @TotalDebt DECIMAL(18,2);
    DECLARE @InterestRate FLOAT = 0.005;
    DECLARE @SimpleDays INT;
    DECLARE @CompoundDays INT;
    SELECT
        @LoanAmount = LoanAmount,
        @StartDate = StartDate,
        @Deadline1 = Deadline1
    FROM Contracts
    WHERE ContractID = @ContractID;

    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SimpleDays =
        DATEDIFF(DAY, @StartDate, @TargetDate);
        SET @TotalDebt =
        @LoanAmount +
        (@LoanAmount * @InterestRate * @SimpleDays);

    END

    ELSE
    BEGIN

        SET @SimpleDays =
        DATEDIFF(DAY, @StartDate, @Deadline1);
        SET @TotalDebt =
        @LoanAmount +
        (@LoanAmount * @InterestRate * @SimpleDays);
        SET @CompoundDays =
        DATEDIFF(DAY, @Deadline1, @TargetDate);
        SET @TotalDebt =
        @TotalDebt *
        POWER((1 + @InterestRate), @CompoundDays);

    END

    RETURN @TotalDebt;

END;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[LoanAmount] [decimal](18, 2) NULL,
	[StartDate] [datetime] NULL,
	[Deadline1] [datetime] NULL,
	[Deadline2] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[RemainingDebt] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_OverdueContracts]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------
-- 5. TRIGGER VÀ VIEW BÁO CÁO
--------------------------------------------------

-- View kiểm tra danh sách nợ quá hạn
CREATE VIEW [dbo].[v_OverdueContracts] AS
SELECT 
    C.ContractID,
    CU.FullName,
    CU.Phone,
    C.LoanAmount,
    C.RemainingDebt AS CurrentPrincipal,
    dbo.fn_CalcMoneyContract(C.ContractID, GETDATE()) AS TotalDebtIncludingInterest,
    DATEDIFF(DAY, C.Deadline1, GETDATE()) AS DaysOverdue
FROM Contracts C
JOIN Customers CU ON C.CustomerID = CU.CustomerID
WHERE GETDATE() > C.Deadline1 AND C.Status <> N'Đã thanh toán';
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[AssetName] [nvarchar](100) NULL,
	[AssetDescription] [nvarchar](255) NULL,
	[AssetValue] [decimal](18, 2) NULL,
	[AssetStatus] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[Collector] [nvarchar](100) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateContract]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
-- EVENT 1
-- TẠO HỢP ĐỒNG
-- =========================================

CREATE PROCEDURE [dbo].[sp_CreateContract]

    @FullName NVARCHAR(100),
    @Phone VARCHAR(15),
    @Address NVARCHAR(255),
    @LoanAmount DECIMAL(18,2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME

AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @CustomerID INT;

    ----------------------------------
    -- KIỂM TRA KHÁCH HÀNG
    ----------------------------------

    SELECT @CustomerID = CustomerID
    FROM Customers
    WHERE Phone = @Phone;

    ----------------------------------
    -- THÊM KHÁCH HÀNG
    ----------------------------------

    IF @CustomerID IS NULL
    BEGIN

        INSERT INTO Customers
        (
            FullName,
            Phone,
            Address
        )
        VALUES
        (
            @FullName,
            @Phone,
            @Address
        );

        SET @CustomerID = SCOPE_IDENTITY();

    END

    ----------------------------------
    -- TẠO HỢP ĐỒNG
    ----------------------------------

    INSERT INTO Contracts
    (
        CustomerID,
        LoanAmount,
        StartDate,
        Deadline1,
        Deadline2,
        Status,
        RemainingDebt
    )
    VALUES
    (
        @CustomerID,
        @LoanAmount,
        GETDATE(),
        @Deadline1,
        @Deadline2,
        N'Đang vay',
        @LoanAmount
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayment]    Script Date: 5/12/2026 4:41:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ProcessPayment]

    @ContractID INT,
    @AmountPaid DECIMAL(18,2),
    @Collector NVARCHAR(100)

AS
BEGIN

    DECLARE @CurrentDebt DECIMAL(18,2);

    DECLARE @Remaining DECIMAL(18,2);

    SET @CurrentDebt =
    dbo.fn_CalcMoneyContract(
        @ContractID,
        GETDATE()
    );

    SET @Remaining =
    @CurrentDebt - @AmountPaid;

    ----------------------------------
    -- GHI LOG
    ----------------------------------

    INSERT INTO AuditLog
    (
        ContractID,
        PaymentDate,
        AmountPaid,
        Collector,
        Note
    )
    VALUES
    (
        @ContractID,
        GETDATE(),
        @AmountPaid,
        @Collector,
        N'Thanh toán'
    );

    ----------------------------------
    -- CẬP NHẬT NỢ
    ----------------------------------

    UPDATE Contracts
    SET RemainingDebt = @Remaining
    WHERE ContractID = @ContractID;

    ----------------------------------
    -- TRẢ HẾT NỢ
    ----------------------------------

    IF @Remaining <= 0
    BEGIN

        UPDATE Contracts
        SET Status = N'Đã thanh toán'
        WHERE ContractID = @ContractID;

        UPDATE Assets
        SET AssetStatus = N'Đã trả khách'
        WHERE ContractID = @ContractID;

    END

    ----------------------------------
    -- TRẢ GÓP
    ----------------------------------

    ELSE
    BEGIN

        UPDATE Contracts
        SET Status = N'Đang trả góp'
        WHERE ContractID = @ContractID;

    END

END;
GO
USE [master]
GO
